<!-- row -->
<div class="row">
	<div class="col-md-12">
		<div class="col-md-6">
			<p><div class="alert alert-success" role="alert"><strong>You Have Been Registered Successfully!. Your Registration ID is <%= @refresher_course.id %>. Please Note This Registration ID for Future Reference.</strong></div></p>
			<p class="text-danger">Please Take Some time to provide your feedback and suggestions at the following link: <a href="https://www.surveymonkey.com/r/YXM27HV">Feedback Form</a> </p>
		</div>
	</div>	
	<div class="col-md-12">
		<div class="col-md-4"> 
			<%= link_to "Back", index_path, :class =>"btn btn-md btn-default" %>
		</div>
	</div>	
</div>	
<!-- /.row -->

