<!--
@Author: Aditi
Dated: 09/01/2015
-->

<!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About
                    <small>ASC</small>
                </h1>
                <ol class="breadcrumb">
                    <li>
                    <%= link_to 'Home', index_path %>
                	</li>
                    <li class="active">About</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Intro Content -->
        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
            </div>
            <div class="panel-group col-md-6" id="accordion" role="tablist" aria-multiselectable="true">
		      <div class="panel panel-default">
		        <div class="panel-heading" role="tab" id="headingOne">
		          <h4 class="panel-title">
		            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
		              Year of Establishment
		            </a>
		          </h4>
		          <!-- Panel title -->
		        </div>
		        <!-- Panel heading -->

		        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
		          <div class="panel-body">
		            1987
		          </div>
		          <!-- Panel body -->
		        </div>
		        <!-- Panel collapse -->
		      </div>
		      <!-- Panel -->

		      <div class="panel panel-default">
		        <div class="panel-heading" role="tab" id="headingThree">
		          <h4 class="panel-title">
		            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
		              Name of Head/ Director 
		            </a>
		          </h4>
		          <!-- Panel title -->
		        </div>
		        <!-- Panel heading -->
		        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
		          <div class="panel-body">
		              Dr. Namrata Sharma 
		          </div>
		          <!-- Panel body -->
		        </div>
		        <!-- Panel collapse -->
		      </div>
		      <!-- Panel -->

		      <div class="panel panel-default">
		        <div class="panel-heading" role="tab" id="headingTwo">
		          <h4 class="panel-title">
		            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> 
		              Vision Statement
		            </a>
		          </h4>
		          <!-- Panel title -->
		        </div>
		        <!-- Panel heading -->
		        <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
		          <div class="panel-body">
		            A. To create world class professional teachers, equipped with latest state of the art tools and skills for the teaching profession.<br><br>

            		B. To produce excellent teachers who have good ICT skills, communication skills, team building spirit and have the ability to deliver quality and value based education to the students of higher education.<br><br>

            		C. To inculcate sound research competencies in the teachers who come to attend the training programmes.   
		          </div>
		          <!-- Panel body -->
		        </div>
		        <!-- Panel collapse -->
		      </div>
		      <!-- Panel -->
		    </div>
		    <!-- Panel group -->
        </div>
        <!-- /.row -->

        <!-- Staff -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our Staff</h2>
            </div>
            <div class="col-md-12">
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="../assets/staff/director.jpg" alt="">
                    <div class="caption">
                        <h3>Dr. Namrata Sharma<br>
                            <small>Director</small>
                        </h3>
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="../assets/staff/professor.jpg" alt="">
                    <div class="caption">
                        <h3>Dr. Bhumesh Gupta<br>
                            <small>Professor</small>
                        </h3>
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="../assets/staff/lecturer.jpg" alt="">
                    <div class="caption">
                        <h3>Dr. Jaishree Bansal<br>
                            <small>Lecturer</small>
                        </h3>
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        	</div>
        	<!-- Row 1 -->

            <div class="col-md-12">
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="../assets/staff/ag-1.jpg" alt="">
                    <div class="caption">
                        <h3>Mr. Kuldeep Chauhan<br>
                            <small>Assistant Grade-I</small>
                        </h3>
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="../assets/staff/ag-2.jpg" alt="">
                    <div class="caption">
                        <h3>Dr. Santosh Singh Raghuwanshi<br>
                            <small>Assistant Grade-III</small>
                        </h3>
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="../assets/staff/ag-3.jpg" alt="">
                    <div class="caption">
                        <h3>Mr. Dinesh Raghuwanshi<br>
                            <small>Assistant Grade-III</small>
                        </h3>
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        	</div>
            <!--Row 2 -->

            <div class="col-md-12">
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="../assets/staff/ca.jpg" alt="">
                    <div class="caption">
                        <h3>Mr. Sunil Dohare<br>
                            <small>Assistant Grade-I</small>
                        </h3>
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="../assets/staff/peon.jpg" alt="">
                    <div class="caption">
                        <h3>Mr. Digambar Mahajan<br>
                            <small>Peon</small>
                        </h3>
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        	</div>
        	<!-- Row 3 -->
        </div>
        <!-- /.row -->
    </div>
    <!--Container -->