<!-- Page Content -->
    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Contact
                    <small>Us</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li class="active">Contact</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <!-- Map Column -->
            <div class="col-md-8">
                <!-- Embedded Google Map -->
                <iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14724.070718132136!2d75.87575480426715!3d22.69038576797332!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x85b6a4ac8a9e77d5!2sUGC+Academic+Staff+College!5e0!3m2!1sen!2sin!4v1420860063430"></iframe>
            </div>
            <!-- Contact Details Column -->
            <div class="col-md-4">
                <h3>Contact Details</h3>
                <p>
                    Director<br>Academic Staff College<br>Devi Ahilya Univerisity<br><br>Khandwa Road<br>Indore, MP<br>PIN CODE - 452001<br>
                </p>
                <p><i class="fa fa-phone"></i> 
                    Phone: 91- 0731-2462069 </p>
                <p><i class="fa fa-envelope-o"></i> 
                    Email: 
                    <a href="mailto:contact@ascdavv.ac.in">contact@ascdavv.ac.in</a><br>
                    <a href="mailto:ascdavv@yahoo.co.in">ascdavv@yahoo.co.in</a><br>
                    <a href="mailto:ugcascindore@gmail.com">ugcascindore@gmail.com</a>  
                </p>
                <p><i class="fa fa-fax"></i> 
                    Fax: 91-0731-2460830 </p>
                <ul class="list-unstyled list-inline list-social-icons">
                    <li>
                        <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-google-plus-square fa-2x"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->