<!-- Course Material -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Course <small>Material</small></h2>
            </div>
            <% @courses.each do |course| %>
              <% if Date.today > course.start_date %>
                <% if course.syllabus? %>  
                    <div class="col-md-4">
                        <div class="media">
                            <div class="pull-left">
                                <span class="fa-stack fa-2x">
                                      <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                      <i class="fa fa-file-text fa-stack-1x fa-inverse"></i>
                                </span> 
                            </div>
                            <div class="media-body">
                                <p>
                                    <h4>Course Material for <%= course.course_name %><br/><small><%= link_to "Download", course.syllabus.url, :class => 'btn btn-xs btn-primary', target: '_blank' %>
                                        </small>
                                    </h4> 
                                </p>
                            </div>
                        </div>
                    </div>
                <% end %>
              <% end %>      
            <% end %>    
        </div>
        <!-- /.row -->
        <hr>