<!-- 
@Author: Aditi
Dated: 09/01/2015
-->

<!-- Page Content -->
    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
      <h1 class="page-header">Frequently<small>Asked Questions</small></h1>
      <div class="col-lg-12">
          <ol class="breadcrumb">
            <li>
              <%= link_to 'Home', index_path %>
            </li>
            <li class="active">Faqs</li>
          </ol>
      </div>
    </div>
    <!-- /.row -->

    


    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              How many courses are essential for Teacher for Career Advancement
            </a>
          </h4>
          <!-- Panel title -->
        </div>
        <!-- Panel heading -->

        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            A. For Senior scale: In order to procure senior scale a university/College teacher is required to attend one orientation and one refresher programme.<br><br>

            B. For Selection Grade: In order to procure selection grade a University/College is required to attend two Refresher programme.<br><br>

            C. Apart from required number of courses for Senior scale and Selection Grade, a University/College teacher can attend any number of Refresher programmes/Short term programmes to upgrade His/Her subject knowledge.  
          </div>
          <!-- Panel body -->
        </div>
        <!-- Panel collapse -->
      </div>
      <!-- Panel -->

      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> 
              Eligibility for participating in Refresher Programme
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body">
            The teacher must complete one Orientation programme before atten- ding Refresher Programme. A gap of one year between Orientation and Refresher is compulsory. 
          </div>
          <!-- Panel body -->
        </div>
        <!-- Panel collapse -->
      </div>
      <!-- Panel -->

      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
          <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Eligibility for participating in Orientation Programme 
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body">
              Orientation is for the newly appointed teachers. 
          </div>
          <!-- Panel body -->
        </div>
        <!-- Panel collapse -->
      </div>
      <!-- Panel -->
    </div>
    <!-- Panel group -->
