<!--
@Author: Dhaval
Dated: 20/11/2014    
-->
 <!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url('../assets/1.png');"></div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('../assets/2.jpg');"></div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('../assets/3.jpg');"></div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>

    <!-- Page Content -->
    <div class="container">
        <!-- Features Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Academic Staff College</h2>
            </div>
            <div class="col-md-6">
                <p>
                  ASC Indore, has so far organized more than 311 courses in which teachers of all the Madhya Pradesh universities as well as other Universities in the country have participated.
                </p>
                
                <p>
                  ASC Indore holds third position out of 58 ASC's functioning in the country in conducting Orientation programme and eighth in conducting refresher programme.  
                </p>

                <p>
                  In the years 1990,1993,1997,Indore ASC was visited by the U.G.C. Review Committee for ASC's, who were highly satisfied with its performance. In the latest review the term of ASC, Indore has been extended for full five years, the maximum possible.
                </p>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="../assets/4.jpg" alt="">
            </div>
        </div>
        <!-- /.row -->

        <hr>
    </div>
    <!-- /.container -->

    