<!-- row -->
<div class="row">
	<br><br><br>
	<div class="alert alert-success">
        <strong><span class="fa fa-check"></span> Congratulations! <%= current_admin%>, you have registered successfully</strong>
    </div>
    <div class="col-sm-10 btn-md">
    	<%= link_to "Sign In", new_admin_session_path, :method => :get %>
	</div>
</div>	