<!--@Author: Dhaval
Dated:14/01/2015
-->

<!-- Page Content -->
    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Programs
                <small>Orientation Course</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <%= link_to 'Home', index_path %>
                </li>
                <li class="active">Orientation Courses</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
    <hr>

    <h3>Select a Course</h3>

    <select autofocus required>
        <% @courses.each do |course| %>
            <% if course.type == 'Orientation Course' %>
                <option><%= course.name %></option>
            <% end %>
        <% end %>
    </select>
    <br />
    <br />

    <%= link_to 'Register Here', new_orientation_course_path, class:"btn btn-primary", :style => "color:white" %>
    <hr>




  






