<!--@Author: Dhaval
Dated:14/01/2015
-->

<div class="container col-md-offset-2 col-md-8 col-md-offset-2">
	 <div class="row">
                <%= render 'form' %>
        </div>
        <hr>
        <div class="row">
                <p class="text-danger"><strong><u>NOTE:</u></strong></p>
                <p class="text-danger">
                        <strong>Certified that our college is included under section 12-B section 2(f) of UGC Act/has been affiliated to university for at least 5 years. In case if it does not fall in this category so they won't be paid TA/DA and other allowances for attending these courses.</strong>
                </p>
        </div>
</div>



