<!-- row -->
<div class="row">
  <div class="col-md-5">
	<h1>Edit Record</h1>
		<%= render 'form' %>
		<%= link_to 'Show', @notice, :class => "btn btn-default" %> 
		<%= link_to 'Back', notices_path, :class => "btn btn-default" %>
  </div>  
  <!-- /.col-md-5 -->
</div>
<!-- /.row -->		
