<div class="col-md-offset-2 col-md-8 panel panel-default">
		<div class="panel-body">
				<p><strong><u>Instructions:</u></strong></p>
				<ul class="text-danger">
					<strong>
						<li>
							All Fields Are mandatory. Optional fields are marked as Optional.
						</li>
						<li>
							After submitting this form, Take a print out of your registered application along with the certificate from <a href="#">View Receipt</a> page.
						</li>
						<li>
							Get the print out of registered application duly attested by Principal/HOD.
						</li>
						<li>
							Send the print out of registered application(attested by Principal/HOD) along with the Demand Draft to HRDC. 
						</li>
					</strong>
				</ul>
				<p><strong><u>Note:</u></strong></p>
				<ul class="text-danger">
					<strong>
						<li>
							Certified that our college is included under section 12-B section 2(f) of UGC Act/has been affiliated to university for at least 5 years. In case if it does not fall in this category so they won't be paid TA/DA and other allowances for attending these courses.
						</li>
					</strong>
				</ul>	
		</div>	
</div>