<!-- row -->
<div class="row">
	<div class="col-md-12">
		<div class="col-md-6">
			<p><div class="alert alert-success" role="alert">You Have Been Registered Successfully!. Your Registration ID is <%= @shortterm_course.id %>. Please Note This Registration ID for Future Reference.</div></p>
		</div>
	</div>	
	<div class="col-md-12">
		<div class="col-md-4"> 
			<%= link_to "Back", index_path, :class =>"btn btn-md btn-default" %>
		</div>
	</div>	
</div>	
<!-- /.row -->

