	<!-- row -->
	<div class="row">
		<div class="col-md-4">
			<p><div class="alert alert-success" role="alert">Record Has Been submitted Successfully!</div></p>
		</div><br><br><br><br><br>
		<div class="col-md-4"> 
			<%= link_to "Back", admin_path, :class =>"btn btn-md btn-default" %>
		</div>
	</div>	
	<!-- /.row -->